<div class="card cardC" style="width: 20rem;">
  <div class="card-body cardB">
    <h5 class="card-title" style="color: white">Create your Company</h5>
    <form action="/createCompany" method="POST">
        <input class="card-text" type="text" placeholder="company Name" name= "name">
        <input class="btn btn-success" style="width: 200px; height: 40px; text-align: center; padding: 0; " type="submit" value="Create">
    </form>
  </div>
</div>
