

<form class="reg" action="/signUp" method="POST">
    <h1 style="text-align: center; margin:25px ">Register Page</h1>
    <div class="form-group l1">
        <label for="exampleInputEmail2">Name</label>
        <input style="position: relative; left: 15%" type="text" name="name" class="form-control" id="exampleInputEmail2"  placeholder="Enter Name">
    </div>
    <div class="form-group l2">
      <label for="exampleInputEmail1">Email address</label>
      <input style="position: relative; left: 4%" type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group l3">
      <label for="exampleInputPassword1">Password</label>
      <input style="position: relative; left: 10%" type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
  <button style="border-radius: 100px; " type="submit" class="btn btn-primary">Register</button>
</form>